@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Indie Flower';
    src: font-url('fonts/IndieFlower-Regular.ttf') format('truetype');
  }
}

@tailwind utilities;

p {
  margin-bottom: 1rem;
}

a {
  color: #08FDD8;
  text-decoration: none;
}
